/SI2Group18/nbproject/private/
/FileFinderRecursive/nbproject/private/
/ENjoy/nbproject/private/
/Test/nbproject/private/
/SensumFileHandler/nbproject/private/
/SensumFileHandler/build/
/TestClient/nbproject/private/
/TestClient/build/
/SensumFileHandler/dist/